.container {
    width: 100%;
    max-width: 480px;
    border: 2px solid #fa6ba1;
    border-radius: 16px;

    .input__box {
        padding: 24px 32px;
        border-bottom: 2px solid #fa6ba1;

        input {
            font-size: 16px;
            outline: none;
            background: none;
            border: 2px solid #fa6ba1;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            padding: 12px 16px;
            width: 80%;
        }

        button {
            font-size: 16px;
            font-weight: 600;
            padding: 14px 18px;
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
            border: none;
            background-color: #fa6ba1;
            color: white;
            cursor: pointer;
            width: 20%;
        }
    }

    .no__tasks {
        font-size: 18px;
        font-weight: 500;
        color: #393e45;
        text-align: center;
    }

    ul {
        padding: 24px 32px;

        .task__box {
            display: flex;
            border: 2px solid #fa6ba1;
            border-radius: 16px;
            padding: 14px;
            list-style-type: none;
            margin-bottom: 12px;
            color: #393e45;
            position: relative;

            input {
                margin-right: 12px;
            }

            .task__name {
                margin-right: 32px;
            }
    
            .trash {
                border: none;
                cursor: pointer;
                font-size: 16px;
                position: absolute;
                right: 5%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}